<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Portifolio Leonardo - P1</h1>
    </header>
    <section id = "Sobre_mim">
        <div class = "divs-sec1">
            <h1>Sobre mim</h1>
        </div>
        <div class = "divs-sec1">
            <h1>Conhecimentos em</h1>
        </div>
    </section>
    <section id = "projetos">
        <section class = "sec2-projetos">
            <h1>Projetos</h1>
            <div class = "div_grupo_projetos">
                oi
            </div>
        </section>
    </section>
</body>
</html>