<!DOCTYPE html>
<html lang="en">
<head>
    <!--Uma das formas de conectar o html jinja2 com o css-->
    <!--href="/static/css/style.css"-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>
        <!--essas caixas tornam essses elemetos uiverseis para toda página-->
        <!--assim, posso os sobreescrever nas outras páginas-->
        {% block title %}
        <!--Nas outras páginas, devo colocar o titulo dentro-->
        {% endblock%}
        Flask menu <!--Titulo-->
    </title>
</head>
<body>
    <!--Estrutura da barra lateral(css)-->
    <!--Nav serve como uma div-->
    <nav>
        <!--linkando com as funções do app.py(elas que abrem as páginas)-->
        <a href="{{url_for('homeP')}}"></a>
    </nav>
</body>
</html>